body {
    background-color: hsl(239, 82%, 45%);
    font-family: Arial, sans-serif;
    color: green
    text-align: center;
}
h1 {
    color: pink;
}
u1 {
    list-style-type: square;
    padding: 0;
}
li { 
    margin 10px 0;
}